/*
================================================================================
BuddyPress Working Papers Public Stylesheet
================================================================================
AUTHOR: Christian Wach <needle@haystack.co.uk>
--------------------------------------------------------------------------------
NOTES
=====

Provide basic styles for plugin elements

--------------------------------------------------------------------------------
*/

.single-bpwpaper #content
{
	padding: 0;
	margin: 0;
}
