/*
================================================================================
BuddyPress Working Papers CommentPress Stylesheet
================================================================================
AUTHOR: Christian Wach <needle@haystack.co.uk>
--------------------------------------------------------------------------------
NOTES
=====

Provide basic styles for plugin elements

--------------------------------------------------------------------------------
*/



/* override group header css */
.single-bpwpaper #content
{
	padding: 0;
	margin: 0;
}

.single-bpwpaper #group-header-content h2
{
	float: left;
	margin-right: 0.5em;
}

.single-bpwpaper #group-header-content span.activity
{
	margin-top: 0.5em;
}

.single-bpwpaper div#item-header
{
	background: #b7c73b;
}



/* blog avatar in header */
#header img.avatar 
{
	float: left;
	padding: 12px 10px 0 10px;
}

/* blog avatar in contents column */
.paper_author_avatar
{
	text-align: center;
	background-color: #dd981f;
	padding: 20px 0 20px 0;
}



/* open special pages menu when group page active */
.single-bpwpaper #navigation .paragraph_wrapper.special_pages_wrapper 
{
	display: block;
}



/* join button in header */
.bpwpapers_join
{
	float: right;
	margin: 20px 20px 0 0;
}



